{% extends "base.html" %}

{% block title %}Bowls Club{% endblock %}

{% block content %}
<h1 class="title">Welcome, {{ current_user.firstname }}</h1>

<!-- Pinned Posts -->
{% if current_page == 1 and pinned_posts %}
<div class="box">
    <h2 class="title is-4">Important!</h2>
    <ul>
        {% for post in pinned_posts %}
            {% include 'partials/post_item.html' %}
        {% endfor %}
    </ul>
</div>
{% endif %}

<!-- Non-Pinned Posts -->
<h2 class="title is-4">News</h2>
<ul>
    {% for post in non_pinned_posts %}
        {% include 'partials/post_item.html' %}
    {% endfor %}
</ul>

<!-- Pagination -->
{% if pagination %}
<div class="pagination">
    {{ pagination.links }}
</div>
{% endif %}
{% endblock %}