{# templates/view_post.html #}
{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div class="container">
    <h1 class="title">{{ post.title }}</h1>
    <p class="subtitle">Published on {{ post.publish_on }}</p>
    
    <!-- Summary Box -->
    <div class="box">
        <div class="content">
            <p class="is-size-5">{{ post.summary }}</p>
        </div>
    </div>
    
    <div class="content">
        {{ content|safe }}
    </div>
</div>
{% endblock %}