:root {
  --primary: #ffb70f;
  --secondary: #660033;

/* Bulma colors need to be set as HSL values to apply across all elements */ 
  --bulma-primary-h: 42deg;
  --bulma-primary-s: 100%;
  --bulma-primary-l: 53%;
  --bulma-secondary-h: 330deg;
  --bulma-secondary-s: 100%;
  --bulma-secondary-l: 20%;
  --navbar-background-color: var(--secondary);
}

.navbar, .navbar-item, .navbar-link, .navbar-divider{
  color: var(--primary) !important;
  background-color: var(--navbar-background-color) !important;
}
.navbar-link:hover, .navbar-item:hover{
  color: var(--secondary) !important;
  background-color: var(--primary) !important;
}


/* Custom styles for collapsing the menu on small screens */
@media screen and (max-width: 768px) {
  #menu-toggle:checked ~ .menu-list {
      display: block;
  }
  .menu-list {
      display: none;
  }
}