{% extends "base.html" %}

{% block content %}
<h1 class="title">Reset Your Password</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="field">
        {{ form.password.label(class="label") }}
        <div class="control">
            {{ form.password(class="input") }}
        </div>
    </div>
    <div class="field">
        {{ form.confirm_password.label(class="label") }}
        <div class="control">
            {{ form.confirm_password(class="input") }}
        </div>
    </div>
    <div class="control">
        {{ form.submit(class="button is-primary") }}
    </div>
</form>
{% endblock %}