{# templates/partials/masthead.html #}
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <figure>
                <img src="{{ url_for('static', filename='images/pbc.png') }}" alt="Paignton Bowling Club">
            </figure>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}            
        </div>
    </div>
</section>