<nav class="navbar" role="navigation" aria-label="main navigation">

  <!-- Brand is placed left of the navbar and stays when screens are small -->
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ url_for('index') }}">
      <img src="{{ url_for('static', filename='images/brand.svg') }}" alt="" style="max-height: 70px", class="py-2">
    </a>

    <!-- these spans below are needed by bulma to make the navbar menu work -->
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <!-- Menu sits right of the brand, but collapses on small screens -->
  <!-- See javascript at the bottom of this file for the collapse code --> 
  <div id="navbar-menu" class="navbar-menu">
    <div class="navbar-start">

      <!-- Create the menu items -->
      {% for item in menu_items %}
        {% if item.submenu %}
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              {{ item.name }}
            </a>
            <div class="navbar-dropdown">
              {% for subitem in item.submenu %}
                {% if subitem is none %}
                  <hr class="navbar-divider">
                {% else %}
                  <a href="{{ url_for(subitem.link) }}" class="navbar-item">{{ subitem.name }}</a>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        {% else %}
          <a class="navbar-item" href="{{ url_for(item.link) }}">
            {{ item.name }}
          </a>
        {% endif %}
      {% endfor %}

      <!-- Add a Login / Logout item to the end of the menu -->
      {% if current_user.is_anonymous %}
        <a class="navbar-item" href="{{ url_for('login') }}">Login</a>
      {% else %}
        <a class="navbar-item" href="{{ url_for('logout') }}">Logout {{ current_user.firstname }}</a>
      {% endif %}
    </div>

    <!-- navbar-end sits to the right -->
    <div class="navbar-end">
      {% if current_user.is_authenticated and (current_user.is_admin or filtered_admin_menu_items) %}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Admin
          </a>
          <div class="navbar-dropdown is-right">
            {% for admin_item in filtered_admin_menu_items %}
              {% if admin_item is none %}
                <hr class="navbar-divider">
              {% else %}
                <a href="{{ url_for(admin_item.link) }}" class="navbar-item">{{ admin_item.name }}</a>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</nav>

<!-- javascript to handle the expanding and collapsing of the navbar elements -->
<script>
  document.addEventListener('DOMContentLoaded', () => {

    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    // Add a click event on each of them
    $navbarBurgers.forEach(el => {
      el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });

  });
</script>