{% extends "base.html" %}

{% block content %}
<h1 class="title">Edit Member</h1>

<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.member_id }}  <!-- Include the hidden member_id field -->

    <div class="field">
        {{ form.username.label(class="label") }}
        <div class="control">
            {{ form.username(class="input") }}
            {% for error in form.username.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>
    </div>

    <div class="field-body">
        <div class="field">
            {{ form.firstname.label(class="label") }}
            <div class="control">
                {{ form.firstname(class="input") }}
                {% for error in form.firstname.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>
        </div>

        <div class="field">
            {{ form.lastname.label(class="label") }}
            <div class="control">
                {{ form.lastname(class="input") }}
                {% for error in form.lastname.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    
    <div class="field">
        {{ form.gender.label(class="label") }}
        <div class="control">
            <div class="select is-fullwidth">
                {{ form.gender(class="input") }}
            </div>
        </div>
        {% for error in form.gender.errors %}
            <p class="help is-danger">{{ error }}</p>
        {% endfor %}
    </div>

    <div class="field">
        {{ form.email.label(class="label") }}
        <div class="control">
            {{ form.email(class="input") }}
            {% for error in form.email.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>
    </div>

    <div class="field">
        {{ form.phone.label(class="label") }}
        <div class="control">
            {{ form.phone(class="input") }}
            {% for error in form.phone.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>
    </div>

    <div class="field">
        {{ form.status.label(class="label") }}
        <div class="control">
            <div class="select is-fullwidth">
                {{ form.status(class="input") }}
            </div>
        </div>
        {% for error in form.status.errors %}
            <p class="help is-danger">{{ error }}</p>
        {% endfor %}
    </div>

    <div class="field">
        <label class="checkbox">
            {{ form.is_admin }}
            {{ form.is_admin.label.text }}
        </label>
    </div>

    <!-- Roles Section -->
    <div class="field">
        {{ form.roles.label(class="label") }}
        <div class="control">
            {% for subfield in form.roles %}
            <label class="checkbox">
                {{ subfield }} {{ subfield.label.text }}
            </label>
            {% endfor %}
        </div>
        {% for error in form.roles.errors %}
            <p class="help is-danger">{{ error }}</p>
        {% endfor %}
    </div>

    <div class="buttons">
        <a class="button" href="{{ url_for('manage_members') }}">Cancel</a>
        {{ form.submit_update(class="button is-primary") }}
        <button type="button" class="button is-danger" id="delete-button">
            <span class="icon">
                <i class="fas fa-trash"></i>
            </span>
            <span>Delete</span>
        </button>
    </div>
</form>

<!-- Confirm Delete Modal -->
<div class="modal" id="confirm-delete-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Confirm Delete - {{ member.firstname }} {{ member.lastname }} ({{ member.email }})</p>
            <button class="delete" aria-label="close" id="close-modal"></button>
        </header>
        <section class="modal-card-body">
            <p>Are you sure you want to delete?</p>
            <p>This action cannot be undone!</p>
        </section>
        <footer class="modal-card-foot">
            <div class="buttons">
                <form method="POST">
                    {{ form.hidden_tag() }}
                    {{ form.submit_delete(class="button is-danger") }}
                </form>
                <button class="button" id="cancel-modal">Cancel</button>
            </div>
        </footer>
    </div>
</div>

<script>
    // Get modal elements
    const deleteButton = document.getElementById('delete-button');
    const modal = document.getElementById('confirm-delete-modal');
    const closeModal = document.getElementById('close-modal');
    const cancelModal = document.getElementById('cancel-modal');

    // Show the modal when the delete button is clicked
    deleteButton.addEventListener('click', () => {
        modal.classList.add('is-active');
    });

    // Close the modal when the close or cancel button is clicked
    closeModal.addEventListener('click', () => {
        modal.classList.remove('is-active');
    });

    cancelModal.addEventListener('click', (event) => {
        event.preventDefault();
        modal.classList.remove('is-active');
    });
</script>
{% endblock %}