{% extends "base.html" %}

{% block content %}
<h1 class="title">Reset Password</h1>

<div class="columns">
    <div class="column is-half">
        {% include 'partials/password_form.html' %}
    </div>
    <div class="column is-half">
        <div class="box">
            <h2 class="subtitle">Password Requirements</h2>
            <div class="content">
                <ul>
                    <li>Choose a strong password that you haven't used before</li>
                    <li>Make sure both password fields match</li>
                    <li>Your password will be encrypted and stored securely</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="buttons">
    <a class="button" href="{{ url_for('edit_profile') }}">Back to Profile</a>
</div>
{% endblock %}