{% extends "base.html" %}

{% block title %}{{ policy_page.title }} - Bowls Club{% endblock %}

{% block content %}
<div class="container">
    <div class="columns">
        <div class="column is-8 is-offset-2">
            <div class="box">
                <h1 class="title">{{ policy_page.title }}</h1>
                
                {% if policy_page.description %}
                <p class="subtitle has-text-grey">{{ policy_page.description }}</p>
                {% endif %}
                
                <div class="content">
                    {{ content|safe }}
                </div>
                
                <hr>
                
                <div class="has-text-grey is-size-7">
                    <p>
                        <strong>Last updated:</strong> {{ policy_page.updated_at.strftime('%B %d, %Y') }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}